body{
font-family:Arial;
margin:0;
text-align:center;
background:#f4f6fb;
}

header{
background:#1f3c88;
color:white;
padding:30px;
}

.hero{
padding:80px;
background:linear-gradient(135deg,#1f3c88,#4CAF50);
color:white;
}

.hero h2{
font-size:40px;
}

.buttons{
margin-top:30px;
}

.btn{
display:inline-block;
padding:15px 30px;
margin:10px;
background:white;
color:#1f3c88;
border-radius:30px;
text-decoration:none;
font-weight:bold;
}

.btn:hover{
background:#ffd700;
}

#dashboard{
padding:60px;
background:white;
}

button{
padding:12px 20px;
margin:10px;
font-size:16px;
}

footer{
background:#1f3c88;
color:white;
padding:20px;
margin-top:40px;
}